<div class="app-widgets flex justify-content-between">
  <div class="close" [class.expanded]="hideSidenav" (click)="toggleSidenavEmit()">
    <i class="fa fa-times"></i>
    <span>fechar menu</span>
  </div>
  <div class="flex">
    <div class="menu-icon" [class.active]="!hideSidenav"
         (click)="toggleSidenavEmit()"
         [pTooltip]="hideSidenav ? 'Expandir menu' : 'Recolher Menu'">
      <span></span><span></span><span></span>
    </div>
  </div>
  <div class="py-3 px-4" (click)="toggleFilter()" tooltipPosition="left"
       [pTooltip]="(showFilter ? 'Expandir' : 'Recolher') + ' filtro'">
    <i class="pi text-lg cursor-pointer hover:text-color-secondary"
       [ngClass]="showFilter ? 'pi-filter' : 'pi-filter-slash'">
    </i>
  </div>
  <div class="flex" *ngIf="showWidget">
    <div class="py-3 px-2 mr-2" (click)="themePanel.toggle($event)" tooltipPosition="left"
         pTooltip="Alterar tema">
      <i class="fa-solid fa-brush text-lg cursor-pointer hover:text-color-secondary"></i>
      <p-overlayPanel #themePanel [showCloseIcon]="true">
        <h3>Escolha o tema</h3>
        <hr/>
        <div class="themes flex gap-2 flex-wrap">
          <div class="theme-item" [class.active]="item.active"
               (click)="changeTheme(item)" [ngStyle]="{'background-color': 'hsl(' + item.code + ', 81%, 35%)'}"
               *ngFor="let item of themes">'
          </div>
        </div>
      </p-overlayPanel>
    </div>
    <div class="py-3 px-2" (click)="toggleFullscreen()" tooltipPosition="left"
         [pTooltip]="(fullscreen ? 'Desabilitar' : 'Habilitar') + ' tela cheia'">
      <i class="fa-solid text-lg cursor-pointer hover:text-color-secondary"
         [ngClass]="fullscreen ? 'fa-compress' : 'fa-expand'">
      </i>
    </div>
    <div class="p-3 mr-3" (click)="toggleTheme()" tooltipPosition="left"
         pTooltip="Habilitar tema">
      <i class="fa text-lg cursor-pointer hover:text-color-secondary"></i>
    </div>
  </div>
</div>
