::ng-deep .app-calculate-route {
  color: #333;
  text-shadow: none;

  .p-datatable {
    .p-datatable-thead > tr > th {
      background: #0000005c;
      color: #d8d8d8;
      border: 1px solid rgba(241, 241, 241, 0.2588235294);
      border-width: 0 0 1px 0;
    }

    .p-datatable-tbody > tr {
      background: #0000005c;
      color: #d8d8d8;

      > td {
        border: 1px solid rgba(241, 241, 241, 0.2588235294);
        border-width: 0 0 1px 0;
      }
    }
  }

  label {
    i {
      margin-right: .25rem;
      font-size: .9rem;
    }
  }

  .chess-preview {
    margin: 1rem 0;
    display: flex;
    justify-content: center;

    .chess-container {
      display: flex;
      color: #1a1a1a;
      border-radius: .5rem;
      overflow: hidden;
      box-shadow: var(--boxShadow);
      border: 1px solid rgba(241, 241, 241, 0.2588235294);

      .chess-axis-x {
        display: flex;
        flex-direction: column-reverse;

        &:nth-of-type(odd) {
          background-color: rgba(241, 241, 241, 0.2588235294);

          .chess-axis-y:nth-of-type(even) {
            &:hover, &.active {
              background-color: rgba(255, 255, 255, 0.7);
            }
          }

          .chess-axis-y:nth-of-type(odd) {
            background-color: #0000005c;

            &:hover, &.active {
              background-color: #1a1a1a;
            }

            i {
              &.fa-house {
                color: #FFF;
              }

              &.fa-box-open {
                color: #FFF;
              }

              &.fa-location-dot {
                color: #FFF;
              }
            }

            span {
              color: #FFF !important;
            }
          }
        }

        &:nth-of-type(even) {
          background-color: rgba(241, 241, 241, 0.2588235294);

          .chess-axis-y:nth-of-type(odd) {
            &:hover, &.active {
              background-color: rgba(255, 255, 255, 0.7);
            }
          }

          .chess-axis-y:nth-of-type(even) {
            background-color: #0000005c;
            transition: all .3s;

            &:hover, &.active {
              background-color: #1a1a1a;
            }

            i {
              &.fa-house {
                color: #FFF;
              }

              &.fa-box-open {
                color: #FFF;
              }

              &.fa-location-dot {
                color: #FFF;
              }
            }

            span {
              color: #FFF !important;
            }
          }
        }

        .chess-axis-y {
          cursor: pointer;
          font-size: .9rem;
          width: 2.25rem;
          height: 2.25rem;
          transition: .3s all;
          border: 1px solid rgba(241, 241, 241, 0.2588235294);
          border-radius: 2px;
          position: relative;

          &.active-origin {
            background-color: var(--primary-color) !important;
          }
          &.active-destination {
            background-color: var(--primary-900) !important;
          }
          &.active-origin span, &.active-destination span {
            color: #FFF !important;
            opacity: 1 !important;
          }
          span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s all;
          }

          &:hover span {
            opacity: 1;
          }

          i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .button-info {
      i {
        padding: .25rem;
        margin-left: .5rem;
        transition: .3s all;
        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  .button-view {
    cursor: pointer;
    padding: .25rem;
    opacity: .8;
    transition: opacity .3s;
    &:hover {
      opacity: 1;
    }
  }

  .span-route {
    margin-top: .25rem;
    cursor: pointer;
    font-size: 0.9rem;
    width: 2.25rem;
    height: 2.25rem;
    transition: 0.3s all;
    border: 1px solid rgba(241, 241, 241, 0.2588235294);
    position: relative;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 0.25rem;
    border-radius: 3px;
    &.destination {
      background-color: var(--primary-900) !important;
    }
  }
}
