<div class="app-calculate-route">
  <form [formGroup]="form">
    <div class="grid p-fluid">
      <div class="col-12 sm:col-4 flex flex-column gap-1">
        <label for="origin">
          <i class="fa-solid fa-house"></i>
          {{'informOrigin'|translate}}
        </label>
        <p-inputMask (onBlur)="blurChessCoordinates('origin')" mask="a9" id="origin" formControlName="origin"
                     slotChar=" " placeholder="A1"></p-inputMask>
      </div>
      <div class="col-12 sm:col-4 flex flex-column gap-1">
        <label for="package">
          <i class="fa-solid fa-box-open"></i>
          {{'informPackage'|translate}}
        </label>
        <p-inputMask (onBlur)="blurChessCoordinates('packageCollection')" mask="a9" id="package"
                     formControlName="packageCollection" slotChar=" " placeholder="G2"></p-inputMask>
      </div>
      <div class="col-12 sm:col-4 flex flex-column gap-1">
        <label for="destination">
          <i class="fa-solid fa-location-dot"></i>
          {{'informDestionation'|translate}}
        </label>
        <p-inputMask (onBlur)="blurChessCoordinates('destination')" mask="a9" id="destination"
                     formControlName="destination" slotChar=" "
                     placeholder="H8"></p-inputMask>
      </div>
      <div class="col-12">
        <button pButton type="button" label="{{'calculateRoute'|translate}}" (click)="calculateRoute()"
                [disabled]="!form.valid"></button>
      </div>
    </div>
  </form>


  <div class="chess-preview">
    <div class="chess-container">
      <div class="chess-axis-x" *ngFor="let chess of chessPreview">
        <div class="chess-axis-y" [class.active]="column.active"
             (click)="clickChessColumn(column.name)"
             *ngFor="let column of chess.columns">
          <i class="fa-solid fa-house" *ngIf="column.active && column.name === form.get('origin')?.value"></i>
          <i class="fa-solid fa-box-open"
             *ngIf="column.active && column.name === form.get('packageCollection')?.value"></i>
          <i class="fa-solid fa-location-dot"
             *ngIf="column.active && column.name === form.get('destination')?.value"></i>
          <span *ngIf="!column.active">{{column.name}}</span>
        </div>
      </div>
    </div>
    <div class="button-info cursor-pointer flex flex-column h-full">
      <i class="fa-solid fa-circle-info" (click)="op.toggle($event)"></i>
      <i class="fa-solid fa-refresh" (click)="clearForm()"></i>
    </div>
    <p-overlayPanel #op [style]="{'width': '30rem'}">
      <ng-template pTemplate="content">
        <h5>{{'information'|translate}}</h5>
        <div class="flex flex-column gap-2">
          <span>{{'firstInfo'|translate}}</span>
          <span>{{'secondInfo'|translate}}</span>
          <span>{{'thirdInfo'|translate}}</span>
          <span>{{'legend'|translate}}:</span>
          <div class="flex justify-content-around">
            <span><i style="font-size: .8rem;" class="fa-solid fa-house"></i> {{'origin'|translate}}</span>
            <span><i style="font-size: .8rem;"
                     class="fa-solid fa-box-open"></i> {{'packageCollection'|translate}}</span>
            <span><i style="font-size: .8rem;" class="fa-solid fa-location-dot"></i> {{'destination'|translate}}</span>
          </div>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>

  <div class="col-12">
    <p-table [value]="routes"
             [tableStyle]="{ 'min-width': '50rem', 'border-radius': '.5rem', overflow: 'hidden', border: '1px solid rgb(63 63 63 / 26%)' }"
             responsiveLayout="stack">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">Id</th>
          <th class="text-center">{{'origin'|translate}}</th>
          <th class="text-center">{{'packageCollection'|translate}}</th>
          <th class="text-center">{{'destination'|translate}}</th>
          <th class="text-center">{{'timeRoute'|translate}}</th>
          <th style="width: 4rem;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-route>
        <tr>
          <td class="text-center">{{ route.id }}</td>
          <td class="text-center">{{ route.origin }}</td>
          <td class="text-center">{{ route.packageCollection }}</td>
          <td class="text-center">{{ route.destination }}</td>
          <td class="text-center">{{ route.timeRoute }}s</td>
          <td class="text-center">
            <i class="fa-solid fa-map-location-dot button-view" tooltipPosition="top"
               [pTooltip]="'viewBestRoute'|translate" (click)="handleView(route)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [header]="'bestRoute'|translate" [(visible)]="displayModalRoute"
            (onShow)="showModal()" [modal]="true" (onHide)="closeModal()"
            [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
    <div class="grid ui-fluid">
      <div class="col-12">
        <div class="chess-preview">
          <div class="chess-container">
            <div class="chess-axis-x" *ngFor="let chess of chessRoute">
              <div class="chess-axis-y" [class.active-origin]="column.origin"
                   [class.active-destination]="column.destination"
                   *ngFor="let column of chess.columns">
                <span>{{column.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-12 md:col-5">
        <span class="font-bold">{{'routeOriginToPackage'|translate}}</span>
        <div class="flex mt-2 flex-wrap">
            <span class="mt-3" *ngFor="let route of selectedRoute?.routePaths?.origin; let i = index">
              <span class="span-route">{{route}}</span>
              <span *ngIf="i !== (selectedRoute?.routePaths?.origin?.length || 0) - 1">
                <i class="fa-solid fa-arrow-right mx-1"></i>
              </span>
            </span>
        </div>
      </div>
      <div class="p-col-12 md:col-5">
        <span class="font-bold">{{'routePackageToDestination'|translate}}</span>
        <div class="flex mt-2 flex-wrap">
            <span class="mt-3" *ngFor="let route of selectedRoute?.routePaths?.destination; let i = index">
              <span class="span-route destination">{{route}}</span>
              <span *ngIf="i !== (selectedRoute?.routePaths?.destination?.length || 0) - 1">
                <i class="fa-solid fa-arrow-right mx-1"></i>
              </span>
            </span>
        </div>
      </div>
      <div class="col-12 md:col-2 flex flex-column">
        <span class="font-bold">{{'timeRoute'|translate}}</span>
        <span class="mt-2">{{selectedRoute?.timeRoute}}s</span>
      </div>
    </div>
  </p-dialog>
</div>
