::ng-deep .app-menu {
  .logo-menu {
    background: #FFF;
    padding: .25rem .3rem 0 .3rem;
    border-radius: 5px;
  }

  .p-menuitem.active {
    border-radius: .25rem !important;
    background: var(--hoverMenu) !important;
  }

  .menu-label {
    font-size: .7rem;
    font-weight: 900;
    color: var(--lightColor) !important;
    line-height: 1.3rem;
    text-transform: uppercase;
  }

  .p-tiredmenu {
    width: 100% !important;
  }


  &.hidenav {
    .menu-label {
      display: none;
    }

    .p-tieredmenu {
      ul {
        width: 27px;
      }
      .p-submenu-list {
        width: 150px;
      }
    }
  }

  @media (max-width: 768px) {
    .menu-icon {
      &.active span {
        transform:  none !important;
        opacity: 1 !important;
      }
    }
    &.hidenav {
      .menu-label {
        display: block;
      }
      .p-tieredmenu {
        width: 100%;
        ul {
          width: 100%;
        }
        .p-submenu-list {
          width: 100%;
        }
      }
    }
  }
}
