<div class="app-pages">
  <div *ngIf="isLogged; else login" id="wrapper" [class.fullscreen]="fullscreen">
    <main class="page-content" [class.expanded]="hideSidenav">
      <header>
        <div class="flex justify-content-between">
          <div class="flex gap-2">
            <div class="widget logout-button" routerLink="auth/logout" tooltipPosition="top"
                 [pTooltip]="'logout'|translate">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="widget fullscreen-button" (click)="toggleFullscreen()" tooltipPosition="top"
                 [pTooltip]="(fullscreen ? 'nofullscreen' : 'fullscreen')|translate">
              <i *ngIf="!fullscreen" class="fa-solid fa-up-right-and-down-left-from-center"></i>
              <i *ngIf="fullscreen" class="fa-solid fa-down-left-and-up-right-to-center"></i>
            </div>
          </div>
          <div class="flex gap-2 container-buttons">
            <p-button size="small" type="button" (click)="changeLanguage('pt-BR')" [outlined]="currentLanguage === 'en-US'">PT</p-button>
            <p-button size="small" type="button" (click)="changeLanguage('en-US')" [outlined]="currentLanguage === 'pt-BR'">EN</p-button>
          </div>
        </div>

      </header>
      <div class="main-content">
        <div class="user-container">
          <img src="./assets/images/user.png" alt="">
          <span>{{name}}</span>
        </div>
        <div class="line"></div>
        <router-outlet></router-outlet>
      </div>
    </main>
    <p-scrollTop></p-scrollTop>
  </div>
  <ng-template #login>
    <router-outlet></router-outlet>
  </ng-template>
  <div class="app-loading" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <p-toast [ngStyle]="{'position':'relative', 'z-index':'99999999'}" styleClass="pre-wrap-toast"
           position="top-right"></p-toast>
  <p-confirmDialog icon="pi pi-exclamation-triangle" key="deleteConfirm"></p-confirmDialog>
</div>
